#para {
    
    text-align: center;
    background-color: #62eb96;
    color: rgb(252, 252, 252);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#h1 {
    text-align: center;
    background-color: cadetblue;

}
#img {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h2 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#para2 {
    
    text-align: center;
    background-color: #a1f51b5e;
    color: rgb(17, 127, 236);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img2 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h3 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#para3 {
    
    text-align: center;
    background-color: #80e997c2;
    color: darkcyan;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img3 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h4 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#p4 {
    
    text-align: center;
    background-color: #99d807c2;
    color: rgb(19, 50, 226);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img5 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h5 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#p5 {
    
    text-align: center;
    background-color: #fd0606c2;
    color: rgb(243, 244, 247);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img6 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h6 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#p6 {
    
    text-align: center;
    background-color: #6f55cfc2;
    color: rgb(243, 244, 247);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img7 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h7 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#p7 {
    
    text-align: center;
    background-color: #6cf399c2;
    color: rgb(18, 69, 223);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img8 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
#h8 {
    text-align: center;
    font-size: 200%;
    background-color: cadetblue;
}
#p8 {
    
    text-align: center;
    background-color: #6ce3f3c2;
    color: rgb(223, 18, 18);
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}
#img9 {
    margin-left: 7.5cm;
    margin-top: 1cm;
}
